/* Hero Section */

.inner_banner_image {
  position: relative;
  height: 100vh !important;
}
.inner_banner_image img {
  max-width: 100%;
  display: block;
  width: 100%;
  height: 100%;
}
.inner_banner_title {
  font-size: 30px;
  line-height: 129%;
  color: #fff;
  margin: 0 0 25px;
}
.inner_banner_heading {
  font-size: 71px;
  color: #fff;
  font-weight: 400;
  line-height: 77px;
  width: 85%;
}
.inner_banner {
  position: absolute;
  top: 45%;
}
.inner_banner_wrapper {
  padding: 0 100px;
}

/* Card section */

.servicesBox {
}
.servicesBox .box_heading {
  color: #dfa621;
  font-size: 18px;
  font-family: "nueu_montreal_bold";
  line-height: 129%;
}
.servicesBox .box_para {
  color: #636363;
}
.about_secondflex .box:hover .box_para {
  color: #fff;
}
.box_size img {
  margin: 0 0 1rem;
}
.services_card_wrapper {
  display: flex;
}
.services_card_wrapper .about_secondflex {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
}
.service_card_list {
  width: 50%;
}
.services_card_big_image {
  width: 50%;
}
.services_card_big_image img {
  max-width: 100%;
  display: block;
  width: 100%;
  padding: 40px;
}
/* Image Bg sec */
.image_bg_sec_wrap {
  position: relative;
}
.image_bg_sec_img {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
}
.image_bg_sec_top_wrap img {
  max-width: 100%;
  display: block;
  width: 100%;
}
.image_bg_sec_top_wrap {
  position: relative;
}
.image_bg_sec_top_wrap::before {
  content: "";
  background-color: #4d5f7587;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.image_bg_sec_top_text {
  font-size: 51px;
  line-height: 129%;
  color: #dfa621;
  position: absolute;
  bottom: 20%;
  right: 10%;
  width: 600px;
}
.image_bg_sec_bottom_wrap {
  height: 491px;
  background-color: #4d5f75;
  color: #fff;
  position: relative;
}
.image_bg_sec_bottom_text {
  margin: 0 0 20px;
}
.image_bg_sec_bottom_text_link {
  position: absolute;
  top: 20%;
  right: 17%;
  width: 482px;
  font-size: 24px;
  line-height: 129%;
}
.image_bg_sec_bottom_link a {
  color: #fff;
  text-decoration: none;
  display: flex;
  padding: 10px;
  border: 1px solid #fff;
  width: fit-content;
  font-family: "poppins";
  font-size: 18px;
}
.image_bg_sec_bottom_link a img {
  margin-left: 10px;
}
/* Heading with big num */
.heading_with_big_num_wrap {
  padding: 90px 75px;
}
.heading_with_big_num {
  background-color: #d9d9d9;
}
.heading_with_big_num_heading {
  font-size: 51px;
  line-height: 129%;
  color: #757575;
  padding: 0 80px;
  margin: 0 0 56px;
  width: 780px;
}
.heading_with_big_num_list {
  border-bottom: 1px solid #969696;
}
.heading_with_big_num_item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #969696;
  padding: 10px 50px;
}
.big_index {
  font-size: 133px;
  color: #757575;
  width: 200px;
  text-align: center;
}
.middle_text_wrap {
  width: 660px;
  display: flex;
  justify-content: center;
}
.middle_text {
  font-size: 35px;
  color: #757575;
  width: 370px;
}
.last_text_wrap {
  width: 785px;
  display: flex;
  justify-content: center;
}
.last_text {
  font-size: 18px;
  color: #4d5f75;
  width: 550px;
}
@media (max-width: 1600px) {
  .big_index {
    font-size: 133px;
    color: #757575;
    width: 150px;
    text-align: center;
  }
  .middle_text_wrap {
    width: 410px;
    display: flex;
    justify-content: center;
  }
  .middle_text {
    font-size: 35px;
    color: #757575;
    width: 270px;
  }
  .last_text_wrap {
    width: 622px;
    display: flex;
    justify-content: center;
  }
  .last_text {
    font-size: 18px;
    color: #4d5f75;
    width: 482px;
  }
}

/* Left Right Image Text */

.left_right_image_text_wrapper {
  max-width: 991px;
  margin: 0 auto;
  padding: 100px 20px;
}

.left_right_image_text_heading {
  font-size: 51px;
  line-height: 129%;
  color: #4d5f75;
  text-align: center;
  margin: 0 0 33px;
}
.left_right_image_text_text {
  font-size: 18px;
  line-height: 129%;
  color: #4d5f75;
  text-align: center;
  margin: 0 0 148px;
}
.left_right_image_text_item {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.left_right_image_text_item:nth-child(even) {
  flex-direction: row-reverse;
}
.left_right_image_text_item_image {
  width: 40%;
}
.left_right_image_text_item_image img {
  width: 100%;
  max-width: 100%;
  display: block;
}
.left_right_image_text_item_content {
  width: 60%;
  padding-left: 40px;
}
.left_right_image_text_item_heading {
  font-size: 51px;
  line-height: 129%;
  color: #dfa621;
  margin: 0 0 15px;
}
.left_right_image_text_item_text {
  font-size: 18px;
  line-height: 129%;
  color: #4d5f75;
  width: 482px;
  margin: 0 0 15px;
}
.left_right_image_text_item_link a {
  color: #000;
  text-decoration: none;
  display: flex;
  padding: 8px;
  border: 1px solid #000;
  text-align: center;
  width: fit-content;
  font-size: 18px;
  line-height: 129%;
}
@media (max-width: 1199px) {
  .left_right_image_text_wrapper {
    max-width: 767px;
  }
}

/* Pricing Sec */

.pricing_sec_wrapper {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.pricing_sec_content_wrap {
  padding: 20px;
  width: 620px;
  margin: 0 auto;
  background-color: #fff;
}
.pricing_sec_heading {
  text-align: center;
  font-size: 51px;
  color: #dfa621;
  line-height: 129%;
  margin: 0 0 15px;
}
.pricing_sec_content {
  font-size: 18px;
  text-align: center;
  line-height: 129%;
  color: #4d5f75;
}

/* BG Image with Text */

.bgImage_with_text_wrapper {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 729px;
  position: relative;
}
.bgImage_with_text_content {
  position: absolute;
  top: 50%;
  left: 90px;
  transform: translateY(-50%);
}
.bgImage_with_text_content_heading {
  font-size: 59px;
  line-height: 129%;
  color: #fff;
  width: 528px;
  margin: 0 0 20px;
}
.bgImage_with_text_content_text {
  font-size: 15px;
  line-height: 143%;
  color: #fff;
  width: 400px;
}
@media (max-width: 1199px) {
  .bgImage_with_text_wrapper {
    min-height: 600px;
  }
}
@media (max-width: 991px) {
  .bgImage_with_text_content {
    left: 40px;
  }
}
@media (max-width: 767px) {
  .bgImage_with_text_wrapper {
    min-height: 500px;
  }
  .bgImage_with_text_content {
    left: 30px;
  }
  .bgImage_with_text_content_heading {
    font-size: 45px;
    line-height: 129%;
    color: #fff;
    width: 400px;
    margin: 0 0 20px;
  }
  .bgImage_with_text_content_text {
    font-size: 15px;
    line-height: 143%;
    color: #fff;
    width: 400px;
  }
}
@media (max-width: 575px) {
  .bgImage_with_text_content {
    left: 20px;
  }
  .bgImage_with_text_content_heading {
    font-size: 28px;
    width: 90%;
    margin: 0 0 20px;
  }
  .bgImage_with_text_content_text {
    width: 90%;
  }
}

/* Service Form */

.services_form {
  padding: 120px 350px;
}

.services_form_wrapper_form .contactForm {
  position: static;
  transform: none;
  background-color: #ececec;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.services_form_wrapper_form .contactForm .contactForm_heading {
  color: #4d5f75;
  font-size: 41px;
  font-weight: 600;
  line-height: 44px;
}
.services_form_wrapper_form .contactForm form {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.services_form_wrapper_form .contactForm form .contactInput {
  background-color: transparent;
  margin: 0 0 36px;
  width: 293px;
}
.services_form_wrapper_form .contactForm form .selectric-selectDrp {
  width: 343px;
  background-color: transparent;
  margin: 0 0 90px;
}
.services_form_wrapper_form .contactForm form .selectric-selectDrp .selectric {
  padding: 9px 0;
  background-color: transparent;
}
.services_form_wrapper_form .contactForm form .submit_btn {
  height: 100%;
  display: flex;
  align-items: end;
  justify-content: end;
}
.services_form_wrapper_form .contactForm form .submit_btn button {
  background-color: #dfa621;
}
.services_form_wrapper_form .contactForm form .submit_btn button:hover {
  background-color: #4d5f75;
}

.services_form_wrapper {
  display: flex;
  justify-content: center;
}
.services_form_wrapper_form {
  width: 44%;
}
.services_form_wrapper_image {
  width: 55%;
}
.services_form_wrapper_image img {
  max-width: 100%;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 1600px) {
  .services_form {
    padding: 120px 180px;
  }
}
@media (max-width: 1359px) {
  .services_form_wrapper_form .contactForm .contactForm_heading {
    font-size: 34px;
    padding-right: 10px;
  }
}
@media (max-width: 1199px) {
  .services_form {
    padding: 80px;
  }
}
@media (max-width: 991px) {
  .services_form_wrapper_form .contactForm form .contactInput {
    width: 90%;
  }
  .services_form_wrapper_form .contactForm form .selectric-selectDrp {
    width: 96%;
    margin: 0 0 80px;
  }
  .services_form {
    padding: 50px;
  }
}
@media (max-width: 767px) {
  .services_form_wrapper {
    flex-direction: column-reverse;
  }
  .services_form_wrapper_form {
    width: 100%;
  }
  .services_form_wrapper_image {
    width: 100%;
  }
}
