*{
    margin: 0;
}
.secrvices_home_img{
    width: 100%;
    height: auto;
}
.services_home_text{
    position: absolute;
    color: white;
    top: 30rem;
    left: 18rem;
    font-size: 82px;
}
.simply{
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
} 
.services_centertext{
    padding: 6rem 20rem 0 20rem;
    font-size: 53px;
    color: #000000;
}
.services_secondflex{
    display: flex;
    gap: 6rem;
    padding: 5rem 11rem;
}
.services_secondflex_heading{
    color: #DFA621;
    padding: 20px 0px;
}

.services_thirdLine{
    position: relative;
}
/* .services_thirdimgtwo{
    position: absolute;
    right: 0rem;
    bottom: 2rem;
      
} */


.bunny{
    background: rgb(255, 255, 255);
    position: absolute;
    width: 40%;
    display: flex;
    right: 0;
    bottom: 0rem;
    padding: 2rem 3rem;
    flex-direction: column;
    gap: 2rem;
}
.services_thirdimg{
    width: 100%;
    height: auto;
    aspect-ratio: 5 / 3;
    object-fit: cover;
}
.services_thirdheading{
    color: #DFA621;
    /* position: absolute;
    right: 5rem;
    bottom: 21rem; */
    font-size: 51px;
}
.services_thirdpara{
    /* position: absolute;
    right: 4rem;
    bottom: 14rem; */
    font-size: 24px;
}
.services_thirdparatwo{
    /* position: absolute;
    right: 4rem;
    bottom: 8rem; */
    font-size: 24px;
}



/* for expend card */

.container {
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}

.card {
    width: 500px;
    /* height: 100vh; */
    /* border-radius: .75rem; */
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    /* border-radius: 2rem; */
    border: 1px solid grey;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
}

.card > .row {
    color: white;
    display: flex;
    flex-direction: row-reverse;
    /* rotate: 269deg; */
    gap: 1rem;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    flex-wrap: nowrap;
    height: 100%;
}

.card > .row > .icon {
    color: #757575;
    /* width: 50px;
    display: flex; */
    font-size: 175.5px;
    /* margin: 15px; */
}

.hidden{
    display: none;
}

.card > .row > .description {
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    overflow: hidden;
    align-items: flex-end;
    /* height: 80px; */
    height: 100%;
    width: 456px;
    rotate: -90deg;
    /* opacity: 0; */
    font-size: 60px;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}

.arrowflexgap{
    padding: 1rem;
}
.description p {
    color: #59595a;
    padding-top: 5px;
}

.description h4 {
    text-transform: uppercase;
}

input {
    display: none;
}

input:checked + label {
    width: 100%;
}

input:checked + label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.card[for="c1"] {
    background-color: rgb(192, 186, 186);
}
.card[for="c2"] {
    background-color: rgb(192, 186, 186);
}
.card[for="c3"] {
    background-color:rgb(192, 186, 186);
}
.card[for="c4"] {
    background-color: rgb(192, 186, 186);
}

.services_sliders{
    display: flex !important;
}
.services_sliders_left{
    background-color: #4d5f75;
    padding: 7rem 2rem;
    width: 50%;
}
.services_sliders_right{
  width: 50%;
}
.services_sliders_right img{
  max-width: 100%;
  display: block;
  width: 100%;
}
.service_op1_slider_wrapper{
  position: relative;
}
.service_op_1_slider_arrow{
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
}
.service_op_1_slider_arrow_left{
  background-color: #D9D9D9;
  padding: 29px 19px;
  cursor: pointer;
}
.service_op_1_slider_arrow_right{
  background-color: #000;
  padding: 29px 19px;
  cursor: pointer;
}

.services_sliders_heading{
    color: white;
    font-size: 59px;
    padding: 2rem 3rem;
}
.services_sliders_para{
    color: white;
    font-size: 15px;
    padding: 0rem 3rem;
}

.services_cards{
    padding: 5rem;
}
.card_main_heading{
    color: #DFA621;
    font-size: 51px;
}
.card_main_para{
    font-size: 15px;
    width: 24%;
}

.card_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
  }

  .cards {
    background-color: #D9D9D9;
    padding: 80px;
    width: 100px;
    height: 15vh;
    text-align: center;
  }

  .rankingsection{
    display: flex;
  }

  .factoryservicesimg{
    width: 100%;
    height: autos;
  }
  .factoryservicesheading{
    font-size: 59px;
    
  }
  .factoryservicestext{
    font-size: 15px;
    width: 60%;
  }
/* section nine  */
  .servicesninesection {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #F6F6F6;
    justify-content: space-around;
    color: #070606;
   
  }

  .x1button{
    padding: 5px 10px;
    margin-left: 2rem;
    margin-top: 1rem;
  }
  .nineflex_main_heading{
    color: #DFA621;
    font-size: 42.5px;
  }
  .rightflex{
    width: 50%;
  }
  .leftflex{
    width: 50%;
    padding: 5rem;
  }
  .nineflex_para {
    font-size: 19px;
    margin-top: 20px;
    font-weight: 400;
    line-height: 16.77px;
    text-align: left;
    padding: 1rem 0rem;
    color: #000000;
  }
  .nineflex_checklist_text {
    display: flex;
    gap: 1rem;
  }
  .grid-container {
    display: grid;
    height: 100%;
    padding: 2rem;
    column-gap: 40px;
    grid-template-columns: auto auto;
  }
  
  .griditem_heading{
    font-size: 21px;
  }
  .griditem_text{
    font-size: 12px;
  }
  /* pricing section */
.price_plan{
    padding: 5rem;
}
.pricing {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
  }
  .pricing_plan_heading{
    color: #DFA621;
  }


  .x1{
    position: relative;
  }

  .xx1{
    width: 35%;
    top: 22rem;
    color: white;
    flex-direction: column;
    display: flex;
    position: absolute;
    padding: 0rem 4rem;
    gap: 1rem;
  }
  
  .pricecard {
    background-color: #f4f4f4;
    /* border-radius: 8px;
    padding: 20px; */
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .pricecard h2 {
    color: #ffffff;
    background-color: #DFA621;
    width: 100%;
    padding: 10px 0px;
  }
  
  .pricecard p {
    color: #777;
  }
  
  .pricecard ul {
    list-style-type: none;
    padding: 0;
  }
  
  .pricecard ul li {
    margin-bottom: 5px;
  }
  
  .pricecard button {
    background-color: lightgrey;
    color: #000;
    border: none;
    padding: 1rem 7rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .pricecard button:hover {
    background-color: blue;
  }
  

  .plan{
    font-size: 30px;
    padding: 2rem 2rem 3rem 2rem;
  }


  .lorem{
font-size: 15px;
color: gray;
border-top: 1px solid gray;
padding: 15px 8px;
  }

  .ptag{
    font-size: 35px;
    color: black;
  }